// Image Component

a img {
  @include center;
  width: 100%;
  transition: transform .5s ease-in,
              opacity .5s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.8;
  }
}

img {
  max-width: 250px;
}
